GOOGLE_CLIENT_ID=blablabla.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=blablabla
COOKIE_KEY=blablabla
MONGO_URI=mongodb+srv://blablabla:blablabla.mongodb.net/test?retryWrites=true
STRIPE_PUBLISHABLE_KEY=pk_test_blablabla
STRIPE_SECRECT_KEY=sk_test_blablabla
SENDGRID_KEY=SG.blablabla
REDIRECT_DOMAIN=http://localhost:3000
